.current {
    text-align: center;
    position: relative;
    top: 25%;
    left: 25%;
    color: #2f2f2f;
    border-radius: 25px;
    width: 70%;
}

.current-icon {
    text-align: center;
    position: relative;
    top: 20%;
    left: 15%;
    border-radius: 25px;
    width: 60%;
}

.current h2 {
    font-size: 56px;
    margin: 20px;
}

.current h3 {
    font-size: 20px;
}

.current h1{
    font-size: 80px;
    margin: 40px;
}
