.current {
    text-align: center;
    position: relative;
    top: 25%;
    left: 5%;
    color: white;
}

.current h2 {
    font-size: 56px;
    margin: 20px;
}

.current h3 {
    font-size: 20px;
}

.current h1{
    font-size: 96px;
    margin: 40px;
}