.background-image {
    background-image: url('https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=989&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.mid-menu {
    position: absolute;
    top: 55%;
}
